*, *::before, *::after{
    border: 0;
    margin: 0;
    box-sizing: border-box;
};
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    background: #f8f8f8;
}
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}
.banner_inner{
    width: 60%;
    color: #31302e;
    margin: 0 auto;
    text-align: center;
}
.banner_inner p{
    font-size: 1.5rem;
}
h1{
    font-size: 5rem;
    letter-spacing: .5rem;
    margin-bottom: 1.5rem;
}
section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.works {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto auto auto;
    grid-gap: .8rem;
    padding: 1rem;
    margin-bottom: 5rem;
}
.works > div {
    min-height: 200px;
    padding: 5rem;
    font-size: 30px;
    text-align: center center;
    background-size: cover;
    position: relative;
}
.works div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    transition: .3s;
}
.works div:hover::before {
    background: rgba(0, 0, 0, 0.3);
}
.work_item1, .work_item5{
    grid-row: 1 / 2;
}
.work_item2, .work_item6{
    grid-row: 2 / 4;
}
.work_item4{
    grid-row: 3 / 4;
}
.work_item3{
    grid-row: 1 / 3;
}

.feature{
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3rem auto;
}
.feature:nth-child(even){
    flex-direction: row-reverse;
}
.feature_title{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
.feature_title, .feature_desc{
    padding-inline: 2rem;
}
.feature_desc{
    font-size: 1.25rem;
}
.feature_img{
    width: 420px;
    height: 250px;
    background-size: cover;
    background-position: center center;
}

.footer{
    color: #fff;
    text-align: center;
    background: #a4a4a4;
    padding: 1rem 0;
}

.topBtn{
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 1rem;
    background: #3b3b3b;
    border-radius: 50%;
    position: fixed;
    inset: auto 1rem 1rem auto;
cursor: pointer;
}